main{	
  background: gold;
  width:75%; 
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 0px; 
}

.inf{

	display: flex-block;
	float: left;
	width: 100%;
	margin-top:5%;
	
	}
.inf h2 
	{
		margin:0;
		font-size: 35px;
		text-align: center;
	}
.inf .PriceAndOpis
{
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.3);
	width: 100%;
	border-radius: 10px;
padding-top: 10px;
padding-bottom: 10px;
}


.inf div:first-child{padding-left: 10px;}

.inf img
{
	display:flex-block;	
	width: 50%;
	height: auto;
	float: left;
	margin-top: 5%;
	border-radius: 10px;
	background: white;
	
}
.buttons{margin-left:25%;}
.buttons .add-to-cart i{
    color: red;
    background-color:  white;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 75px;
    border-right: 1px solid black;
	border-radius: 10px;
    display: inline-block;
	
}

.buttons .add-to-cart i:hover{
    color: white;
    background: red;
}



section{
	margin: 0 auto;	
	background: rgba(0, 0, 0, 0.4);
	padding-bottom: 15px;
	padding-top: 10px;
}



.image{
	overflow:hidden;
	
}

#generals{
	font-family: MarckScript;
	font-size: 70px;
	font-weight: 600;
	text-align:center;
	
	margin-top: 10px;
	border: 12px outset gold;
	background-Repeat: no-repeat;
    background-position: center center;
    background-Attachment: cover;
    background-Size: cover;
	width: 90%;
	height: 100px;
	margin: 0 auto;
	
	 -moz-transition: all 0.5s ease-out;
	 -o-transition: all 0.5s ease-out;
     -webkit-transition: all 0.5s ease-out;
}

a{
	text-decoration: none;
}


.topcontent_sweet {
	color: white;
	
	-webkit-text-stroke: 0.3px black;
	text-shadow: 
		-0   -2px 0   #000000,
		 0   -2px 0   #000000,
		-0    2px 0   #000000,
		 0    2px 0   #000000,
		-2px -0   0   #000000,
		 2px -0   0   #000000,
		-2px  0   0   #000000,
		 2px  0   0   #000000,
		-1px -2px 0   #000000,
		 1px -2px 0   #000000,
		-1px  2px 0   #000000,
		 1px  2px 0   #000000,
		-2px -1px 0   #000000,
		 2px -1px 0   #000000,
		-2px  1px 0   #000000,
		 2px  1px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000;
	
}
.topcontent_sweet{background: url(./../images/sweet.jpg);}

.topcontent_costumes {
	color: orange;
	-webkit-text-stroke: 0.3px darkred;
text-shadow: 
		-0   -2px 0   #000000,
		 0   -2px 0   #000000,
		-0    2px 0   #000000,
		 0    2px 0   #000000,
		-2px -0   0   #000000,
		 2px -0   0   #000000,
		-2px  0   0   #000000,
		 2px  0   0   #000000,
		-1px -2px 0   #000000,
		 1px -2px 0   #000000,
		-1px  2px 0   #000000,
		 1px  2px 0   #000000,
		-2px -1px 0   #000000,
		 2px -1px 0   #000000,
		-2px  1px 0   #000000,
		 2px  1px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000;
	
}
.topcontent_costumes{background: url(./../images/costumes.jpg);}

.topcontent_stickers {
	color: red;
	-webkit-text-stroke: 0.2px black;
	/*Замена обводки в FireFox, Microsoft Egde*/
	text-shadow: 
		-0   -2px 0   #000000,
		 0   -2px 0   #000000,
		-0    2px 0   #000000,
		 0    2px 0   #000000,
		-2px -0   0   #000000,
		 2px -0   0   #000000,
		-2px  0   0   #000000,
		 2px  0   0   #000000,
		-1px -2px 0   #000000,
		 1px -2px 0   #000000,
		-1px  2px 0   #000000,
		 1px  2px 0   #000000,
		-2px -1px 0   #000000,
		 2px -1px 0   #000000,
		-2px  1px 0   #000000,
		 2px  1px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000;
	
}
.topcontent_stickers{background: url(./../images/stickers.jpg);}

.topcontent_sweet:hover, .topcontent_costumes:hover, .topcontent_stickers:hover{
 -webkit-transform: scale(1.05);
 -moz-transform: scale(1.05);
 -o-transform: scale(1.05);
 }

main h2{
	 
    text-shadow: #5dc8e5 0 0 10px; /* Свечение голубого цвета в темное время суток*/

	margin: 0 auto;
	color: white;
	text-align: center;
	font-size: 40px;
}

 
 

footer img{
	width: 30px;
}

footer p:last-child{color: white;}
footer p:first-child{color:orange;  font-size:45px; font-family: MarckScript;}
footer p 
{
 color: gray; 
 position: relative;
padding: 0;
margin:0;
padding-bottom: 5px;
 }
 
#soc{display: inline; }
#soc img{margin: 5px;}

footer{
	
    clear:both;width:100%;
	border-top: 5px solid gold;
	background-color: rgba(0, 0, 0, 0.9);
	padding-left:15px; 
	padding-bottom: 10px; 
	padding-top: 15px;
	
}
#insidefooter
{
	margin: 0;
	/* width:50%;
  margin: auto;
  padding: auto;
  background: red; */
	
}
@media screen and (max-width:1495px){
#generals{font-size: 50px;}


}

@media screen and (max-width:1000px){
#generals{font-size: 35px;}

}


@media screen and (max-width:700px){
main{width: 95%; }
.inf{float: none; width: 100%;}

.inf img
{width: 100%; float: none; width: 90%; align: center;}
.buttons{margin-left:15%;}
}

